In [1]:
#1.  Luego de analizar los datos publicados en: https://www.kaggle.com/NUFORC/ufo-sightings Indicar cu치l de las siguientes afirmaciones es correcta:	 
# a) El avistaje mas corto ocurrido en Marzo del 2007 ocurri칩 en la ciudad de Denver.
# b) Para el estado de Montana, en Estados Unidos, los reportes de avistajes con forma de fireball superan los que indicaron que se trataba de una luz.
# c) Gran Breta침a tiene mas reportes de avistajes que Canad치.
# d) El estado con mas avistajes de ovnis es California.

In [22]:
import pandas as pd 
pd.options.mode.chained_assignment = None

In [23]:
ufosDf = pd.read_csv('ufo-sightings/scrubbed.csv')
ufosDf

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7142,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4331,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7764,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2978,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8467,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8864,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7153,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.505,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.8584,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.4658,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6514,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.3676,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1014,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [29]:
# d) El estado con mas avistajes de ovnis es California.
ufosStates = ufosDf[['state']]
ufosStates.dropna(subset = ['state'], inplace = True)
ufosStates['count'] = 1
ufosStates = ufosStates.groupby(['state'], as_index = False).count()
ufosStates = ufosStates.sort_values(by = 'count', ascending = False)
ufosStates

   state  count
6     ca   9655
61    wa   4268
11    fl   4200
57    tx   3677
41    ny   3219
4     az   2689
16    il   2645
46    pa   2582
42    oh   2425
25    mi   2071
31    nc   1869
45    or   1845
44    on   1584
27    mo   1576
36    nj   1512
7     co   1505
59    va   1393
17    in   1386
21    ma   1358
12    ga   1347
62    wi   1333
56    tn   1193
26    mn   1081
53    sc   1076
8     ct    968
19    ky    914
23    md    911
40    nv    905
37    nm    815
5     bc    788
..   ...    ...
20    la    598
15    id    554
35    nh    535
29    mt    510
63    wv    486
28    ms    415
33    ne    405
1     ak    354
13    hi    353
0     ab    333
60    vt    307
51    ri    290
64    wy    205
54    sd    196
10    de    183
50    qc    178
22    mb    155
38    ns    143
32    nd    138
30    nb    116
9     dc     99
55    sk     98
48    pq     90
49    pr     33
52    sa     30
34    nf     25
39    nt     20
47    pe     17
66    yt     13
65    yk      7

[67 rows x 2 columns]

In [30]:
# 3.  Luego de analizar los datos publicados en: https://www.kaggle.com/uciml/student-alcohol-consumption Indicar cu치l de las siguientes afirmaciones es correcta:	 
# a) Realizando un histograma de notas finales, se puede observar que existen mas notas entre 12 y 14 que entre 10 y 12.
# b) Los alumnos de familias mas numerosas registran un menor consumo de alcohol.
# c) Los alumnos de Matem치tica que eligieron el colegio en funci칩n de la cercan칤a a su hogar tienen mejor promedio de calificaci칩n, que los alumnos de Portugu칠s que eligieron el establecimiento con igual criterio
# d) Los alumnos que eligieron el establecimiento en base a su reputaci칩n tienen mejor promedio de notas que los que concurren al mismo por cercan칤a a su domicilio

In [31]:
mathematicCourse = pd.read_csv('student-alcohol-consumption/student-mat.csv')
portugueseCourse = pd.read_csv('student-alcohol-consumption/student-por.csv')

In [33]:
portugueseCourse

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,12,12,13
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,0,10,12,13
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,0,12,13,12
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,0,12,12,13
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,14,15
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,6,17,17,17
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,10,13,13,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,2,13,14,14
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,2,8,8,7
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,6,12,12,12
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,12,13,14
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,11,12,12
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,0,12,13,14
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,2,10,10,10
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,11,10
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,6,10,11,12
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,8,11,12,12
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,0,11,11,11
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,2,12,12,13
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,6,13,12,13
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,4,15,14,15
621,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,13,13,13
622,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
623,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,15,16,16
624,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,8,8,9
625,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,10,10,10
626,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,0,7,5,0
627,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,9,10,10
628,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,10,11,12
629,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,4,7,8,9
630,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,15,17,17
631,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,4,10,11,12
632,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
633,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,1,13,14,14
634,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,1,16,16,16
635,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,10,8,9,9
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
637,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
638,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
639,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11